*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#app,
#app .n-config-provider,
#app .app-root {
  height: 100%;
  margin: 0;
}

#app .n-config-provider,
#app .app-root {
  display: flex;
  flex-direction: column;
  min-height: 0;
}

#app .app-root > * {
  flex: 1 1 auto;
  min-height: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
